conda.enabled = true

env {
  NXF_FILE_PERMS = 'rwxr-xr-x'
}

process {
  executor = 'slurm'
  // optional, but set if you submit to a specific partition:
  // queue = 'boyoz'

  beforeScript = '''
    source /home/binokayl/miniconda3/etc/profile.d/conda.sh
    conda activate nfuzay
  '''

  // Per-process env for TrimGalore (adds FastQC + Cutadapt; pins a supported Python)
  withName: TrimGalore {
    conda = 'bioconda::trim-galore=0.6.10 bioconda::fastqc=0.12.1 bioconda::cutadapt=4.9 python=3.11'
  }
}

report {
  enabled = true
  overwrite = true
}

